*.log
log
tmp
.DS_Store
config/initializers/secret_token.rb
config/initializers/smtp_settings.rb
config/default_body.erb
db/production_data.sql
public/images/happy-new-year-201*
app/assets/images/happy-new-year-201*
