body {
  background: white url(/images/snowflake_background.jpg) repeat-x left top;
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  
}
#header ul li {
  display:block;
  float:right;
  font-size: 0.9em;
  margin-left:10px;
}

div.flash {
  position:fixed;
  z-index:100;
  margin:0 30px;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border: 1px solid black;
  background-color:black;
  opacity:0.85;
  color:white;
  text-align:center;
  font-size: 1.0em;
  padding:10px;
}

form.login {
  width:450px;
  margin:0 auto;
}
form.login fieldset {
  background-color:white;
  opacity:0.7;
}
form.login fieldset legend {
  font-size: 1.0em;
}
form.login fieldset label {
  width:180px;
  font-size: 1.3em;
}
form.login fieldset input {
  width:180px;
  font-size: 1.2em;
}
form.login fieldset ol {
  list-style-type: none;
}
form.login .buttons input {
  margin:10px 10px 10px 100px;
  width:150px;
  font-size: 1.5em;
}
form.login a {
  font-size: 0.6em;
}

.household, a.add_person_and_household {
  margin-bottom:2px;
  padding:5px 5px 5px 30px;
  background:#eee url(/images/home_icons/home_24x23.png) no-repeat 3px 3px;
  line-height:21px;
  display:block;
  opacity:0.90;
  font-family:Georgia, "Times New Roman", Times, serif;
}
.person {
  padding:5px 5px 5px 30px;
  background:#ccc url(/images/user_icons/user_24x23.png) no-repeat 3px 3px;
  margin:5px;
  line-height:21px;
  display:block;
  opacity:0.90;
  font-family:Georgia, "Times New Roman", Times, serif;
}
.person.note_sent, .household.note_sent {
  background-color:#139934;
}
.person .email {
  float:right;
}
.household .person {
  margin-left: 30px;
}
a.add_person, .household a, .person a {
  font: 0.6em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
form label {
  width:75px;
  display:block;
  float:left;
}
#new_note input[type='text'], #new_note textarea {
  width:600px;
  font: 1.0em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  padding:3px;
  border:1px solid #999;
}
form.person_form label {
  width: 125px;
}
.note {
  width:700px;
  margin: 10px auto;
  padding:20px;
  background-color:white;
  border:1px solid #ccc;
}
.tip {
  margin-top:10px;
  font-style:oblique;
  text-align:center;
  font-size: 0.8em;
}
#footer {
  margin-top:20px;
  font-size: 0.6em;
  color:#666;
  text-align:center;
}
